var DateFr = {

  getDate: function (time, splitStr) {

    if (!time) return '';

    var date = getDate(time);
    var M = date.getMonth() + 1;
    var y = date.getFullYear();
    var d = date.getDate();

    if (M < 10) M = "0" + M;
    if (d < 10) d = "0" + d;

    if (splitStr)
      return y + splitStr + M + splitStr + d;
    else
      return {
        y: y,
        M: M,
        d: d
      };
  },
  priceFoalt: function (num, params) {
    var price = num.toFixed(2).split('.');
    return !params ? price[0]: price[1] ;
  } 
}

module.exports = {
  getDate: DateFr.getDate,
  priceFoalt: DateFr.priceFoalt
}
